<html>

<head>
  <title>FERTIBIZ : Rbm Report </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="inside-theme">

  <div class="theme-wrapper">
    <div class="navigation"></div>
    <div class="content">
      <div class="content-bg">
        <div class="right-header">
          <h1>
            <div class="bread">
              <span>Team Report</span>
            </div>
          </h1>
          <ul id="right-nav"></ul>
        </div>
        <div class="right-content">
          <div class="right-content">
            <div class="table-responsive">

              <table class="table table-data">
                <thead>
                  <tr>
                    <th>Designation</th>
                    <th>Total Hospital Count</th>
                    <th>Potential Filled Up</th>
                    <th>Pending</th>
                    <th>Market Filled Up</th>
                    <th>Pending</th>
                    <th>Business Filled Up</th>
                    <th>Pending</th>
                    <th>Competition Filled Up</th>
                    <th>Pending</th>
                  </tr>
                </thead>
                <tbody id="progress-progress-report"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pending Centre List</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <tr>
              <th class="grey">Centre Name</th>
              <th class="grey">Doctor Name</th>
            </tr>
            <tbody id="pending-centre-report"></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="loader">
    <img src="../../img/loader.gif" alt="ivf loader" class="img-responsive" />
  </div>

  <div class="menu-overlay"></div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>
  <script src="../../js/account-mapping.js"></script>
  <script src="../../js/user-reports.js"></script>
  <script>
    $(function () {
      getTeamProgressReport();
    });


  </script>
</body>

</html>